body {
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color:#fff;
}

#wrapper {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

.title {
	font-size:20pt;
	padding:10px;
	color:#fff;
	text-align:center;
}

a {
	font-family:'Helvetica Neue';
	color:#fff;
	text-decoration:none;
}

#search_container, #home {
	width:100%;
	height:100%;
	position: absolute;
  background-image: -moz-linear-gradient(bottom, rgb(157,195,218) 0%, rgb(0,103,159) 50%, rgb(18,24,50) 100%);
	overflow:auto;
}


/* HOME */

.order {
	border-top: 1px solid #5f657b;
	border-bottom: 1px solid #5f657b;
	padding:10px 0;
	font-size:12pt;
	padding-left:5%;
}

.button {
	padding:10px;
}

.order a {
	margin:0 5%;
}

.selected {
	color:#65b4e4;
}

#search_button {
	position:absolute;
	left:80%;
	padding:10px;
}

.book_title {
	font-size:12pt;
}

.book_author {
	font-size:10pt;
}
#list_books {

}
.book {
	border-bottom:1px solid #5f657b;
	padding:10px 5px;
	display:block;
	overflow:hidden;
}

.book:active {
	background-color:#0090d0;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

.imgContainer {
	width:65px;
	height:80px;
	float:left;
}

.infoContainer {
	float:left;
	padding:10px 20px;
	width:60%;
}

.download {
	background-image:url('../images/download.png');
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:40px 40px;
	width:40px;
	height:75px;
	float:left;
}

/* SEARCH */ 

.blue {
	color:#182152;
}

.order{
	display:block;
	overflow:hidden;
}
.sort {
	padding:0 20px;
	float:left;
}

#library_button {
	margin-left:5%;
	padding:10px;
	position:absolute;
}

.toolbar{
	position:absolute;
	padding-top:10px;
	width:100%;
}

#search_container .title {
	border-bottom:1px solid #5f657b;
}

#search_container input {
	margin:20px;
	height:3em;
	width:60%;
	-moz-border-radius:3px;
	border:none;
	color:#858f98;
	padding:2px 10px;
	font-size:12pt;
}

#search_container button {
	background-color:#0090d0;
	-moz-border-radius:3px;
	border:none;
	color:#fff;
	padding:10px 15px;
	font-size:12pt;
}

#books_container {
	padding-left:5%;
	padding-bottom:5%;
}


div.monelem_sheaf {
  top: 70px;
}

div.monelem_controls_magnifier_button {
  top: 40px;
}

#readerBg, #search_container {
	position:absolute;
}

#home {
	position: absolute;
}

#close {
	pointer-events: all;
}

#close a {
	color:#192152;
    font-size: 16px;
	text-decoration:none;
	font-size: 30px;
}

#reader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.full_circle {
    padding: 30px 0 0 30px;
	position:absolute;
	z-index:101;
}
#close a {
    font-size: 14px;
}


div.monelem_controls_magnifier_button {
	background-color:transparent;
}

div.monelem_container {
	background-color:transparent;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.transition {
	-moz-transition: all 0.5s ease-in-out;
}

.hidden_left {
	-moz-transform: translate(-100%);
}
.hidden_right {
	-moz-transform: translate(100%);
}
.show {
	display:block;
	margin-left:0;
}