body {
	background-color: #FCF6F0;
	font-family:Palatino;
}

#wrapper {
	max-width:480px;
	max-height:800px;
	display:block;
	overflow:hidden;
}

.title {
	font-family:serif;
	font-size:20pt;
	margin:10px;
}

#search_container, #home {
	padding:20px;
}

ul {
	list-style:none;
}

#home li, #search_container li {
	margin-top:20px;
}

#home a, #search_container a {
	text-decoration:none;
	color:#fff;
	background-color:#aaa;
	padding:5px 10px;
	-moz-border-radius:10px;
}

#readerBg, #search_container {
	position:absolute;
}

#home {
	position: absolute;
}

#close {
	pointer-events: all;
}

#close a {
	color:#000;
	text-decoration:none;
	font-size: 30px;
}

#reader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.full_circle {
    padding: 20px;
	position:absolute;
	z-index:101;
}
#close a {
    font-size: 14px;
}


div.monelem_controls_magnifier_button {
	background-color:transparent;
}

div.monelem_container {
	background-color:transparent;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.transition {
	-moz-transition: all 0.5s ease-in-out;
}

.hidden_left {
	margin-left: -800px;
}
.hidden_right {
	margin-left: 800px;
}
.show {
	display:block;
	margin-left:0;
}