a {
    outline: none;
}

div.reader {
    width: 320px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

div.reader-overlay {
    width: 320px;
    height: 460px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

div.reader-overlay a.panel {
    display: block;
    float: left;
    height: 100%;
    outline: none;
    background: none;
}

div.reader-overlay a.panel:active {
    background: none;
}

div.reader-overlay a.panel.left {
    width: 15%;
}

div.reader-overlay a.panel.right {
    width: 15%;
}

div.reader-overlay a.panel.central {
    width: 70%;
}

div.reader-wrapper {
    width: 320px;
    height: 460px;
    position: relative;
}

div.reader-page {
    width: 320px;
    height: 460px;
    background: #FFFBCB;
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
}

div.reader-page.left {
    -moz-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
}

div.reader-page.central {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

div.reader-page.right {
    -moz-transform: translateX(320px);
    -webkit-transform: translateX(320px);
}

div.reader-page.other {
    z-index: 10;
}

div.reader-wrapper.forward {
    animation-duration: 0.4s;
    animation-name: slide-forward;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slide-forward;
    -webkit-animation-timing-function: ease-out;
    -moz-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
}

div.reader-wrapper.backwards {
    animation-duration: 0.4s;
    animation-name: slide-backwards;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slide-backwards;
    -webkit-animation-timing-function: ease-out;
    -moz-transform: translateX(320px);
    -webkit-transform: translateX(320px);
}

@keyframes slide-forward {
    from {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(-320px);
        -webkit-transform: translateX(-320px);
    }
}

@keyframes slide-backwards {
    from {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(320px);
        -webkit-transform: translateX(320px);
    }
}