a {
    outline: none;
}

div.reader {
/*    width: 320px;
    height: 460px;*/
    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;
}

div#current-page, section.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

section#page-library {
/*    height: 460px;*/
    height: 100%;
    overflow-y: scroll;
}

section#import {
    padding: 1rem;
}

div#import_overlay {
    z-index: 10;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

section.overlay {
    -moz-user-select: none;
}

div.reader-overlay {
/*    width: 320px;
    height: 460px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;

    right: 0px;
    bottom: 0px;
}

div.reader-overlay a.panel {
    display: block;
    float: left;
    height: 100%;
    outline: none;
    background: none;
}

div.reader-overlay a.panel:active {
    background: none;
}

div.reader-overlay a.panel.left {
    width: 15%;
}

div.reader-overlay a.panel.right {
    width: 15%;
}

div.reader-overlay a.panel.central {
    width: 70%;
}

div.reader-wrapper {
/*    width: 320px;
    height: 460px;*/
    width: 100%;
    height: 100%;

    position: relative;
}

div.reader-page {
/*    width: 320px;
    height: 460px;*/

    background: #FFFBCB;
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;

    right: 0px;
    bottom: 0px;
}

div.reader-page.left {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

div.reader-page.central {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

div.reader-page.right {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

div.reader-page.other {
    z-index: 10;
}

div.reader-wrapper.forward {
    animation-duration: 0.4s;
    animation-name: slide-forward;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slide-forward;
    -webkit-animation-timing-function: ease-out;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

div.reader-wrapper.backwards {
    animation-duration: 0.4s;
    animation-name: slide-backwards;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slide-backwards;
    -webkit-animation-timing-function: ease-out;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

div#master_overlay {
    z-index: 10000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
/*    width: 320px;
    height: 460px;*/
}

div#master_overlay p[role=status] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(55, 55, 55, 0.9);
}

div#master_overlay p[role=status] progress {
    margin: 0px;
}


@keyframes slide-forward {
    from {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@keyframes slide-backwards {
    from {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}


div.wrapper[role=region] {
  height: 100%;
  -moz-box-sizing: border-box;
  position: relative;
}
